<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Loading Pane Demo</title>
    <!-- inject:css -->
    <!-- endinject -->
    <style type="text/css">
        .loading-pane.lp-loading.half-opacity > .lp-content{
            opacity: 0.5;
        }
    </style>
</head>
<body>
<div ng-app="app" ng-controller="DemoCtrl as vm">
    <loading-pane tracker="vm.tracker">
        <h1>Heading 1</h1>
        <button ng-click="vm.doOneThing()">One promise</button>
        <button ng-click="vm.doTwoThings()">Two promises</button>
    </loading-pane>

    <loading-pane tracker="vm.tracker2">
        <h1>Heading 2</h1>
        <button ng-click="vm.doShortThing()">Min delay</button>
    </loading-pane>

    <loading-pane class="half-opacity" tracker="vm.tracker3">
        <h1>Heading 3</h1>
        <button ng-click="vm.doAnotherThing()">Half opacity</button>
    </loading-pane>

</div>
<!-- inject:js -->
<!-- endinject -->
<script>
    angular.module('app', ['loadingPane'])
            .controller('DemoCtrl', function (loading, $q, $timeout) {
                var vm = this;
                vm.tracker = loading.createTracker();
                vm.tracker2 = loading.createTracker(true, 1000);
                vm.tracker3 = loading.createTracker(true, 1500);
                vm.doOneThing = function () {
                    var deferred = $q.defer();
                    $timeout(function () {
                        deferred.resolve(true);
                    }, 2000);
                    vm.tracker.track(deferred.promise);
                };
                vm.doTwoThings = function () {
                    var deferred = $q.defer();
                    var deferred2 = $q.defer();
                    $timeout(function () {
                        deferred.resolve(true);
                    }, 100);

                    $timeout(function () {
                        deferred2.resolve(true);
                    }, 4000);

                    vm.tracker.track(deferred.promise);
                    vm.tracker.track(deferred2.promise);
                };

                vm.doShortThing = function(){
                    var deferred = $q.defer();
                    deferred.resolve(true);
                    vm.tracker2.track(deferred.promise);
                };

                vm.doAnotherThing = function(){
                    var deferred = $q.defer();
                    deferred.resolve(true);
                    vm.tracker3.track(deferred.promise);
                }

            })
</script>
</body>
</html>