.loading-pane {
	$spinnerColor: #428bca;
    position: relative;

   .lp-content, .lp-spinner {
    transition: opacity 0.3s ease-in-out;
  }
   .lp-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    display: none;
    opacity: 0;
  }

  &.lp-loading .lp-spinner {
    display: block;
    opacity: 1;
  }

  &.lp-loading .lp-content,
  .lp-content {
    opacity: 0;

  }

  &.lp-loaded .lp-content {
    opacity: 1;
  }

  .lp-spinner-icon {
    width: 40px;
    height: 40px;
    box-sizing: border-box;

    border: solid 4px transparent;
    border-top-color:  $spinnerColor;
    border-left-color:  $spinnerColor;
    border-radius: 50%;

    -webkit-animation: lp-spinner 600ms linear infinite;
    animation: lp-spinner 600ms linear infinite;
  }
}


@-webkit-keyframes lp-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes lp-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}